
body, html {
    margin: 0;
    height: 100%;
    width: 100%;

    

}


/* /////////////////////////////////////////////// */
/* ////////////------ CLASSES ------////////////// */
/* /////////////////////////////////////////////// */


.container-background {
    background-image: url(../images/coding-background.jpg);
    
    min-height: 100%;
    
    background-position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    margin-left: 0;
    margin-right: 0;
    padding: 0;

    
    overflow: none;
    

}

.p-head {
    /* background: rgb(24, 23, 23); */
    height: 230px;
    width: 100%;
    border-radius: 8px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: 0;

    

}

.profile-head {
    
    background: rgb(24, 23, 23);
    height: 230px;
    width: 230px;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding-top: 0px;
    margin-bottom: 0;
    overflow: hidden;

    color: ghostwhite;

    border: solid 7px ghostwhite;
    
}

img[alt*="profileImgSize"] {
    height: 220px;
    width: 220px;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding-top: 0px;
    margin-bottom: 0;

}

.nametitleDiv {
    
    height: auto;
    width: 600px;
    /* border-radius: 10px 10px 10px 10px; */

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding-top: 0px;
    margin-bottom: 0;
    /* overflow: hidden; */

    color: ghostwhite;

    /* border: double #01b7ff; */

    border-top: double #01b7ff;
    border-bottom: double #01b7ff;


}

.title-links {
    margin: 0;
    width: 600px;
    
}


.header-left {
    text-align: center;
    color: #dbdbdb;
    /* border-right: double #01b7ff; */

}

.header-mid {
    text-align: center;
    color: #dbdbdb;
    border-right: 10px;
    border-left: 10px;
}

.header-right {
    text-align: center;
    color: #dbdbdb;
    /* border-left: double #01b7ff; */

}

a {
    color: #dbdbdb;
    text-decoration: none;
    
}

.container-content {


    /* background: rgb(110, 47, 47); */
    /* opacity: .7; */
    /* height: 200px; */

    
    width: 100%;

    margin-top: 520px;
    

}

/* /////////////////////////////////////////////// */
/* ////////------ EXPERIENCE SECTION ------/////// */
/* /////////////////////////////////////////////// */

.experience {
    
    height: auto;
    /* background: rgb(0, 4, 255); */

    color: #dbdbdb;

}

.job {
    height: auto;
}

.center-align {
    /* margin-left: 40px;
    margin-right: 20px; */
    padding: 50px 40px 40px 60px;

    /* border-right: solid 1px #dbdbdb; */
    

}

#border-adjusted {
    margin-top: 20px;
    margin-bottom: 20px;
    border-left: solid 1px #dbdbdb;
    opacity: .4;

}

.indent-left {
    margin-left: 0px;
    padding-left: 0;
}

#border-bottom {
    border-bottom: solid 1px #01b7ff;

}

.equal-padding {
    padding-top: 10px;

}

/* potentially used for scrolling through experience */
.scrolling-wrapper {
    width: 100%;
    height: 220px;
    overflow: scroll;
    white-space: nowrap;
  
    
}

.item {
    display: inline-block;
    width: 100%;
    height: 200px;
    background-color: #01b7ff;
    /* border: 1px solid; */
    line-height: 80px;
    text-align: center;
    margin-bottom: 4px;
}



.projects {

    height: 400px;
    background: rgb(238, 82, 89);

}

.goals {

    height: 400px;
    background: rgb(79, 223, 103);

}

.contact-form {

    height: 400px;
    background: rgb(228, 181, 54);

}

.font-center a:hover {
    color: #01b7ff;
    text-decoration: none;
    
}

.text-center {
    text-align: center;
}

h1 {
    font-weight: 700;
}



h3 {
    font-weight: 100;
    font-size: 24px;
}

h6 {
    font-weight: 100;
    font-size: 12px;
    font-style: italic;
}

.font-lg-center {
    font-size: 70px;
    text-align: center;
}

.font-center {
    text-align: center;
}